<p>Tvarkaraštis Neue API</p>
<div id="map" style='display: inline-block; width: 98vw; height: 93.5vh;'></div>

<script>
    setTimeout(function() {
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }, 1000);
</script>